<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417873552796-3ud03r2po95p9ed9kf72fk9i3fp523uh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417873552796-3ud03r2po95p9ed9kf72fk9i3fp523uh</string>
	<key>API_KEY</key>
	<string>AIzaSyAwzBQAYbwDmjc9dSQ_sGnwHrKP8YkEcl4</string>
	<key>GCM_SENDER_ID</key>
	<string>417873552796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tcc.ApneaSleep</string>
	<key>PROJECT_ID</key>
	<string>apenasleep</string>
	<key>STORAGE_BUCKET</key>
	<string>apenasleep.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417873552796:ios:8c20909f77732e2f82d459</string>
	<key>DATABASE_URL</key>
	<string>https://apenasleep.firebaseio.com</string>
</dict>
</plist>